{variables, [{modid, "mymod"}, {yearno, "2014"}, {author, "<<Please 'make init' in rebar_templates.>>"}]}.
{template, "dwmod.erl", "src/{{modid}}.erl"}.
{template, "dwmod_tests.erl", "test/{{modid}}_tests.erl"}.
